<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="test.css" />
	<script src="../javascript/Guest.js"></script>
	<script src="../javascript/script.js"></script>
</head>
<body>
<form id="form">

    <label>Full name:</label>
    <input type="text" id="full_name" name="full_name" placeholder="Jane Doe" required>

    <label>Email address:</label>
    <input type="email" id="email_addr" name="email_addr" required>

    <label>Repeat email address:</label>
    <input type="email" id="email_addr_repeat" name="email_addr_repeat" required>

    <label>Arrival date:</label>
    <input type="date" id="arrival_dt" name="arrival_dt" required>

    <label>Number of nights (rooms are $99.00 per night):</label>
    <input type="number" id="nights" name="nights" value="1" min="1" max="30" required>

    <label>Number of guests (each additional guest adds $10.00 per night):</label>
    <input type="number" id="guests" name="guests" value="1" min="1" max="4" required>

    <label>Estimated total:</label>
    $<output id="total" name="total">99</output>.00
    <br><br>

    <label>Promo code:</label>
    <input type="text" id="promo" name="promo" pattern="[A-Za-z0-9]{6}"
           title="Promo codes consist of 6 alphanumeric characters.">

    <input type="submit" id="button" name="button" value="Request Reservation"/>
</form>
</body>
</html>