/* Общие элементы, обычное состояние */
:invalid {
    border: 1px solid red;
}
:valid {
    border: 1px solid green;
}

body, html {
    width:100%;
    min-height: 90%;
}

form {
    width:320px;
    /*min-height:400px;*/
    font-family: Arial;
    font-weight:normal;
    font-style:normal;
    font-size: 14px;
}

/* описывает линию, которя отделяет вкладку и названия вкладок*/
ul#Tabs {
    /*font-family: Verdana, Arial;*/
    font-size: 12px;
    font-weight: bold;
    list-style-type: none;
    padding-bottom: 28px;
    border-bottom: 1px solid #a2b6cb;
    margin-bottom: 12px;
}

/* описывает названия вкладок*/
#Tabs li.Tab {
    float: right;
    height: 25px;
    width: 30%;
    background-color: #fafafa;/* #deedfb;*/
    margin: 2px 0px 0px 5px;
    border: 1px solid #a2b6cb;
}

#Tabs li.Tab a {
    /*float: left;*/
    display: block;
    color: #666666;
    text-decoration: none;
    padding: 5px;
}

#Tabs li.Tab a:hover {
    background-color: #bfe0fe;
    border-bottom: 1px solid #bfe0fe;
}

/* Состояние: активная */
#Tabs li.SelectedTab {
    float: right;
    height: 25px;
    width: 30%;
    background-color: #fafafa;
    margin: 2px 0px 0px 5px;
    border-top: 1px solid #a2b6cb;
    border-right: 1px solid #a2b6cb;
    border-bottom: 1px solid #fafafa;
    border-left: 1px solid #a2b6cb;
}

#Tabs li.SelectedTab A {
    /*float: left;*/
    display: block;
    color: #666666;
    text-decoration: none;
    padding: 5px;
    cursor: default;
}

#page-add-event a {
    display: block;
    color: #666666;
    text-decoration: none;
}

#page-add-event a:hover {
    color: #468ccf;
}

input {
    width:97%;
    /*min-height:30px;*/
    padding-left:5px;
    display:block;
    margin-bottom:15px;
    margin-top:5px;
    outline: none;
    box-sizing:content-box;
}

input[type=button] {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bccfc6), color-stop(1, #468ccf) );
    background:-moz-linear-gradient( center top, #bccfc6 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bccfc6', endColorstr='#468ccf');
    background-color:#bccfc6;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0px;
    border:1px solid #3866a3;
    display:inline-block;
    color:#14396a;
    /*font-family:Times New Roman;*/
    /*font-size:17px;*/
    font-weight:normal;
    font-style:normal;
    height:25px;
    line-height:25px;
    width:95%;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #7cacde;
}

input[type=button]:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #bccfc6) );
    background:-moz-linear-gradient( center top, #468ccf 5%, #bccfc6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#bccfc6');
    background-color:#468ccf;
}
input[type=button]:active {
     position:relative;
     top:1px;
 }

input[type=button]:disabled {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    /*font-family:arial;*/
    /*font-size:17px;*/
    font-weight:normal;
    font-style:normal;
    height:25px;
    line-height:25px;
    width:95%;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
    margin-bottom:10px;
}

.new-select-style-wpandyou select, textarea, input {
     width:97%;
     min-height:20px;
     display:block;
     margin-bottom:15px;
     margin-top:5px;
     padding-left:5px;
     outline: none;
     box-sizing:content-box;
 }

.new-select-style-reminder select  {
    width:97%;
    min-height:15px;
    display:block;
    margin-bottom:1px;
    margin-top:1px;
    outline: none;
    box-sizing:content-box;
}

.check-box-style input {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*border:2px solid #ccc;*/
    /*font-size:20px;*/
    min-height:10px;
    display:inline;
    horizontal-align:right;
    vertical-align:middle;
    margin:0px;
    margin-bottom:5px;
    margin-top:5px;
    outline: none;
    /*    float: right;
        margin-left:5px;
        margin-right: 5px;*/
    initial:content-box;
}